@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <form action="/coinKind/addKind" id="uploadForm" method="post" enctype="multipart/form-data">
            <div class="form-horizontal" id="coinKindInfo">

                <div class="row">
                    <div class="col-sm-6 b-r">
                        <#input id="kindName" name="品种名称" underline="true"/>
                        <#input id="kindValue" name="面值(元)" underline="true"/>
                        <#input id="kindDesc" name="品种描述" underline="true"  placeholder="例：行书普通纪念币"/>
                        <#input id="kindOrg" name="发行机构" underline="true"/>
                        <#input id="kindHead" name="正面" underline="true"/>
                        <#input id="kindTail" name="背面" underline="true"/>
                    <#input id="issueTime" name="发行日期" underline="true"/>
                        <#input id="issueSize" name="发行量(张/枚)" underline="true" placeholder="例：6000万"/>
                        <#input id="kindSize" name="规格" underline="true" placeholder="例：直径30毫米"/>
                        <#input id="kindMaterial" name="材质" underline="true" placeholder="例：黄铜合金"/>

                    </div>

                    <div class="col-sm-6">
                        <#select id="flId" name="精品分类" underline="true">
                            <option value="" disabled selected hidden>--请选择--</option>
                            @for(item in flList){
                            <option value="${item.guid}">${item.flName}</option>
                            @}
                        </#select>
                        <#input id="kindSort" name="排序" underline="true" placeholder="例：101"/>
                        <#input id="kindPacking" name="品种包装" underline="true" placeholder="例：整刀100张、一卷20枚"/>
                        <#input id="nowPriseDown" name="目前价格下限(元)" underline="true"/>
                        <#input id="nowPriseUp" name="目前价格上限(元)" underline="true"/>
                        <#inputFile type="file" id="img" name="img" label="品种图片1" underline="true" />
                        <#inputFile type="file" id="img2" name="img2" label="品种图片2" underline="true" />
                        <#inputFile type="file" id="img3" name="img3" label="品种图片3" underline="true" />
                        <#inputFile type="file" id="img4" name="img4" label="品种图片4" underline="true" />
                        <#input id="nt" name="备注" underline="true"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-success" onclick="return CoinKindInfoDlg.validate();" id="fileSubmit" name="Submit" value="提交" />
                        <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CoinKindInfoDlg.addSubmit()"/>-->
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CoinKindInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin/coinKind/coinKind_info.js"></script>
<script type="text/javascript">
    laydate.render({
        elem: '#issueTime'
    });
</script>

@}
