@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="coinKindInfo">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <input type="hidden" id="guid" value="${item.guid}" />
                            <#input id="kindName" name="品种名称" value="${item.kindName}" underline="true"/>
                            <#input id="kindValue" name="面值(元)" value="${item.kindValue}" underline="true"/>
                            <#input id="kindDesc" name="品种描述" value="${item.kindDesc}" underline="true" placeholder="例：行书普通纪念币"/>
                            <#input id="kindOrg" name="发行机构" value="${item.kindOrg}" underline="true" placeholder="例：中国人民银行"/>
                            <#input id="kindHead" name="正面" value="${item.kindHead}" underline="true"/>
                            <#input id="kindTail" name="背面" value="${item.kindTail}" underline="true"/>
                           <#input id="issueTime" name="发行日期" value="${item.issueTime}" underline="true"/>
                            <#input id="issueSize" name="发行量" value="${item.issueSize}" underline="true"/>
                            <#input id="kindSize" name="规格" value="${item.kindSize}" underline="true" placeholder="例：直径30毫米"/>
                            <#input id="kindMaterial" name="材质" value="${item.kindMaterial}" underline="true" placeholder="例：黄铜合金"/>
                </div>

                <div class="col-sm-6">
                    <!--<#input id="flId" name="精品分类id" value="${item.flId}" underline="true"/>-->
                    <input type="hidden" id="flId" value="${item.flId}"  name="精品分类id" />
                    <#input id="flNm" name="精品分类名称" value="${flNm}" readonly="readonly" underline="true"/>

                    <#input id="kindSort" name="排序" value="${item.kindSort}" underline="true"/>
                            <#input id="kindPacking" name="品种包装" value="${item.kindPacking}" underline="true" placeholder="例：整刀100张、一卷20枚"/>
                            <#input id="nowPriseDown" name="目前价格下限(元)" value="${item.nowPriseDown}" underline="true"/>
                            <#input id="nowPriseUp" name="目前价格上限(元)" value="${item.nowPriseUp}" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label head-scu-label">品种图片1</label>
                        <div class="col-sm-8">
                            <div><img width="150px" height="150px" src="${ctxPath}${coinResources.filePath}"></div>
                        </div>
                    </div>
                    <!--<#inputFile type="file" id="kindImage" name="kindImage" value="${item.kindImage}" label="品种图片1" underline="true" />-->

                    <!--<#inputFile type="file" id="kindImage2" name="kindImage2" value="${item.kindImage2}"  label="品种图片2" underline="true" />-->
                    <!--<#inputFile type="file" id="kindImage3" name="kindImage3" value="${item.kindImage3}"  label="品种图片3" underline="true" />-->
                    <!--<#inputFile type="file" id="kindImage4" name="kindImage4" value="${item.kindImage4}"  label="品种图片4" underline="true" />-->
                            <#input id="nt" name="备注" value="${item.nt}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CoinKindInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CoinKindInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin/coinKind/coinKind_info.js"></script>
<script type="text/javascript">
    laydate.render({
        elem: '#issueTime',
        // format: 'yyyy年MM月dd日'
    });
</script>

@}
