@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="guid" name="主键自增" underline="true"/>
                            <#input id="lbName" name="轮播页名称" underline="true"/>
                            <#input id="lbImage" name="轮播图片id(与资源信息主键匹配)"/>
                </div>

                <div class="col-sm-6">
                            <#input id="lbSort" name="排序" underline="true"/>
                            <#input id="nt" name="备注" underline="true"/>
                            <#input id="ts" name="时间戳" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="KimIndexLbInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="KimIndexLbInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/kim/kimIndexLb/kimIndexLb_info.js"></script>
@}
