@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <form action="/kimIndexRmtp/addRmtp" id="uploadForm" method="post" enctype="multipart/form-data">

        <div class="form-horizontal">

                <div class="row">
                    <div class="col-sm-6 b-r">
                                <!--<#input id="guid" name="主键自增" underline="true"/>-->
                                <#input id="rmName" name="热门名称" underline="true"/>
                        <#inputFile type="file" id="img" name="img" label="热门图片" underline="true" />
                        <#inputFile type="file" id="headImg" name="headImg" label="头像图片" underline="true" />
                        <!--<#input id="rmImage" name="热门图片id(与资源信息主键匹配)" underline="true"/>-->
                                <!--<#input id="rmHeadImg" name="头像图片id(与资源信息主键匹配)" underline="true"/>-->
                                <#input id="rmTitle" name="标题"/>
                    </div>

                    <div class="col-sm-6">
                                <#input id="rmContext" name="内容" underline="true"/>
                                <#input id="rmSort" name="排序" underline="true"/>
                        <#select id="rmStatus" name="是否显示" underline="true">
                        <option value="">--请选择--</option>
                        <option value="1" selected="selected">显示</option>
                        <option value="2">不显示</option>
                    </#select>
                                <!--<#input id="rmStatus" name="是否显示" underline="true"/>-->
                                <#input id="nt" name="备注" underline="true"/>
                                <!--<#input id="ts" name="时间戳" underline="true"/>-->
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-success" id="fileSubmit" name="Submit" value="上传" />

                        <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="KimIndexRmtpInfoDlg.addSubmit()"/>-->
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="KimIndexRmtpInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/kim/kimIndexRmtp/kimIndexRmtp_info.js"></script>
@}
