<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CoinIndexLbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CoinIndexLb">
        <id column="guid" property="guid" />
        <result column="lb_name" property="lbName" />
        <result column="lb_image" property="lbImage" />
        <result column="lb_sort" property="lbSort" />
        <result column="lb_status" property="lbStatus" />
        <result column="nt" property="nt" />
        <result column="ts" property="ts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        guid, lb_name, lb_image, lb_sort, lb_status, nt, ts
    </sql>

    <!-- map查询结果列 -->
    <sql id="Base_Column_List2">
        l.guid as guid, l.lb_name as lbName, l.lb_image as lbImage, l.lb_sort as lbSort, l.lb_status as lbStatus,
        l.nt as nt, l.ts as ts, r.FILE_PATH as filePath
    </sql>

    <select id="getCoinLbList" resultType="map">
        select
        <include refid="Base_Column_List2" />
        from coin_index_lb l join coin_resources r
        on l.lb_image=r.FILE_CD
        order by l.lb_sort asc
    </select>

    <select id="getCoinLbPage" resultType="map">
        select
        <include refid="Base_Column_List2" />
        from coin_index_lb l join coin_resources r
        on l.lb_image=r.FILE_CD
        order by l.lb_sort asc
    </select>


</mapper>
