<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CoinKindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CoinKind">
        <id column="guid" property="guid" />
        <result column="kind_name" property="kindName" />
        <result column="kind_value" property="kindValue" />
        <result column="kind_desc" property="kindDesc" />
        <result column="kind_org" property="kindOrg" />
        <result column="kind_head" property="kindHead" />
        <result column="kind_tail" property="kindTail" />
        <result column="fl_id" property="flId" />
        <result column="issue_time" property="issueTime" />
        <result column="issue_size" property="issueSize" />
        <result column="kind_size" property="kindSize" />
        <result column="kind_material" property="kindMaterial" />
        <result column="kind_packing" property="kindPacking" />
        <result column="now_prise_down" property="nowPriseDown" />
        <result column="now_prise_up" property="nowPriseUp" />
        <result column="kind_image" property="kindImage" />
        <result column="kind_image2" property="kindImage2" />
        <result column="kind_image3" property="kindImage3" />
        <result column="kind_image4" property="kindImage4" />
        <result column="kind_sort" property="kindSort" />
        <result column="ts" property="ts" />
        <result column="nt" property="nt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        guid, kind_name, kind_value, kind_desc, kind_org, kind_head, kind_fail, fl_id, issue_time, issue_size,
        kind_size, kind_material, kind_packing, now_prise_down, now_prise_up, kind_image, kind_image2, kind_image3, kind_image4, kind_sort, ts, nt
    </sql>

    <!-- map -->
    <sql id="Base_Column_Map">
        k.guid as guid, k.kind_name as kindName, k.kind_value as kindValue, k.kind_desc as kindDesc,
        kind_org as kindOrg, kind_head as kindHead, kind_tail as KindTail, k.fl_id as flId,
        DATE_FORMAT(k.issue_time,'%Y-%m-%d')  as issueTime, k.issue_size as issueSize, k.kind_size as kindSize,k.kind_material as kindMaterial,
        k.kind_packing as kindPacking, k.now_prise_down as nowPriseDown, k.now_prise_up as nowPriseUp,
        k.kind_image as kindImage, k.kind_image2 as kindImage2, k.kind_image3 as kindImage3, k.kind_image4 as kindImage4,
        k.kind_sort as kindSort, k.ts as ts, k.nt as nt, r.FILE_PATH as filePath
    </sql>

    <!-- page -->
    <sql id="Base_Column_Page">
        k.guid as guid, k.kind_name as kindName, k.kind_value as kindValue, k.kind_desc as kindDesc,
        kind_org as kindOrg, kind_head as kindHead, kind_tail as KindTail, k.fl_id as flId,
        DATE_FORMAT(k.issue_time,'%Y-%m-%d')  as issueTime, k.issue_size as issueSize, k.kind_size as kindSize,k.kind_material as kindMaterial,
        k.kind_packing as kindPacking, k.now_prise_down as nowPriseDown, k.now_prise_up as nowPriseUp,
        f.fl_name as flName
    </sql>

    <select id="searchKindListByflid" resultType="map">
       select
        <include refid="Base_Column_Map"/>
       from coin_kind k join coin_resources r
        on k.kind_image=r.FILE_CD
        where 1=1
        and k.fl_id = #{flid}
        order by k.kind_sort asc
    </select>

    <select id="selectKindPage" resultType="map">
        SELECT
        <include refid="Base_Column_Page"/>
        FROM coin_kind k INNER JOIN coin_index_jpfl f ON k.fl_id=f.guid
        WHERE 1=1
        <if test="kindName != null and kindName != ''">
            and k.kind_name like CONCAT('%',#{kindName},'%')
        </if>
        <if test="kindValue != null and kindValue != ''">
            and k.kind_value like CONCAT('%',#{kindValue},'%')
        </if>
        <if test="flId != null and flId != ''">
            and k.fl_id = #{flId}
        </if>
        ORDER BY k.fl_id, k.kind_sort
    </select>


</mapper>
