<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.KimIndexRmtpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.KimIndexRmtp">
        <id column="guid" property="guid" />
        <result column="rm_name" property="rmName" />
        <result column="rm_image" property="rmImage" />
        <result column="rm_head_img" property="rmHeadImg" />
        <result column="rm_title" property="rmTitle" />
        <result column="rm_context" property="rmContext" />
        <result column="rm_sort" property="rmSort" />
        <result column="rm_status" property="rmStatus" />
        <result column="nt" property="nt" />
        <result column="ts" property="ts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        guid, rm_name, rm_image, rm_head_img, rm_title, rm_context, rm_sort, rm_status, nt, ts
    </sql>

    <!-- map查询结果 -->
    <sql id="Base_Column_List2">
        rm.guid as guid, rm.rm_name as rmName, rm.rm_title as rmTitle, rm.rm_context as rmContext,
        img.FILE_PATH as rmImagePath, head.FILE_PATH as rmHeadImgPath
    </sql>

    <select id="getRmtpList" resultType="map">
        select
        <include refid="Base_Column_List2" />
        from kim_index_rmtp rm
        join kim_resources img on rm.rm_image=img.FILE_CD
        join kim_resources head on rm.rm_head_img=head.FILE_CD
        order by rm.rm_sort asc
    </select>


</mapper>
