<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.KimIndexJptjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.KimIndexJptj">
        <id column="guid" property="guid" />
        <result column="jp_name" property="jpName" />
        <result column="jp_image" property="jpImage" />
        <result column="jp_desc" property="jpDesc" />
        <result column="jp_sort" property="jpSort" />
        <result column="jp_status" property="jpStatus" />
        <result column="nt" property="nt" />
        <result column="ts" property="ts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        guid, jp_name, jp_image, jp_desc, jp_sort, jp_status, nt, ts
    </sql>

    <!-- map查询结果 -->
    <sql id="Base_Column_List2">
        j.guid as guid, j.jp_name as jpName, j.jp_desc as jpDesc, j.jp_image as jpImage, r.FILE_PATH as filePath
    </sql>

    <select id="getJptjList" resultType="map">
        select
        <include refid="Base_Column_List2" />
        from kim_index_jptj j join kim_resources r
        where j.jp_image=r.FILE_CD
        order by j.jp_sort asc
    </select>

</mapper>
