<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.KimResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.KimResources">
        <id column="FILE_CD" property="fileCd" />
        <result column="FILE_TITL" property="fileTitl" />
        <result column="KEY_WORD" property="keyWord" />
        <result column="EST_ORG" property="estOrg" />
        <result column="ORGCD" property="orgcd" />
        <result column="EST_PERS" property="estPers" />
        <result column="EST_DT" property="estDt" />
        <result column="PUB_ORG" property="pubOrg" />
        <result column="PUB_ORGCD" property="pubOrgcd" />
        <result column="PUB_DT" property="pubDt" />
        <result column="ABS" property="abs" />
        <result column="MUL_TP" property="mulTp" />
        <result column="FILE_PATH" property="filePath" />
        <result column="FILE_NM" property="fileNm" />
        <result column="FILE_SIZE" property="fileSize" />
        <result column="FILE_EXT" property="fileExt" />
        <result column="IS_SEC" property="isSec" />
        <result column="SEC_G" property="secG" />
        <result column="DOC_TP" property="docTp" />
        <result column="TS" property="ts" />
        <result column="NT" property="nt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FILE_CD, FILE_TITL, KEY_WORD, EST_ORG, ORGCD, EST_PERS, EST_DT, PUB_ORG, PUB_ORGCD, PUB_DT, ABS, MUL_TP, FILE_PATH, FILE_NM, FILE_SIZE, FILE_EXT, IS_SEC, SEC_G, DOC_TP, TS, NT
    </sql>

</mapper>
