@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="guid" name="主键自增" value="${item.guid}" underline="true"/>
                            <#input id="flName" name="分类名称" value="${item.flName}" underline="true"/>
                            <#input id="flImage" name="分类图片id(与资源信息主键匹配)" value="${item.flImage}" underline="true"/>
                            <#input id="flDesc" name="分类描述" value="${item.flDesc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="flSort" name="排序" value="${item.flSort}" underline="true"/>
                            <#input id="flStatus" name="是否显示（1显示；2不显示）" value="${item.flStatus}" underline="true"/>
                            <#input id="nt" name="备注" value="${item.nt}" underline="true"/>
                            <#input id="ts" name="时间戳" value="${item.ts}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CoinIndexJpflInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CoinIndexJpflInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin/coinIndexJpfl/coinIndexJpfl_info.js"></script>
@}
