@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <div class="form-horizontal">
            <input type="hidden" id="guid" value="${item.guid}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="jpName" name="精品名称" value="${item.jpName}" underline="true"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label head-scu-label">精品图片</label>
                                <div class="col-sm-8">
                                        <div><img width="100px" height="100px" src="${ctxPath}${filePath}"></div>
                                </div>
                            </div>
                            <#input id="jpDesc" name="精品描述" value="${item.jpDesc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="jpSort" name="排序" value="${item.jpSort}" underline="true"/>
                    <input type="hidden" id="jpStatusVal" value="${item.jpStatus}">
                    <#select id="jpStatus" name="是否显示" underline="true">
                        <option value="">--请选择--</option>
                        <option value="1">显示</option>
                        <option value="2">不显示</option>
                    </#select>
                            <#input id="nt" name="备注" value="${item.nt}" underline="true"/>
                            <!--<#input id="ts" name="时间戳" value="${item.ts}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="KimIndexJptjInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="KimIndexJptjInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        var key=$("#jpStatusVal").val();
        //根据值让option选中
        $("#jpStatus option[value='"+key+"']").attr("selected","selected");

    })
</script>
<script src="${ctxPath}/static/modular/kim/kimIndexJptj/kimIndexJptj_info.js"></script>
@}
