@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="guid" value="${item.guid}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="guid" name="主键自增" value="${item.guid}" underline="true"/>-->
                            <#input id="jpName" name="精品名称" value="${item.jpName}" underline="true"/>
                            <!--<#input id="jpImage" name="精品图片id(与资源信息主键匹配)" value="${item.jpImage}" underline="true"/>-->
                    <#avatar id="jpImage" name="精品图片" underline="true" avatarImg="${item.jpImage}"/>
                            <#input id="jpDesc" name="精品描述" value="${item.jpDesc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="jpSort" name="排序" value="${item.jpSort}" underline="true"/>
                            <#input id="jpStatus" name="是否显示" value="${item.jpStatus}" underline="true"/>
                            <#input id="nt" name="备注" value="${item.nt}" underline="true"/>
                            <#input id="ts" name="时间戳" value="${item.ts}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="KimIndexJptjInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="KimIndexJptjInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/kim/kimIndexJptj/kimIndexJptj_info.js"></script>
@}
